body {
    margin: 0;
    background-image: url('paisley.png');
    background-repeat: repeat;
    background-size: auto;
    align-items: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: white;
    width: 100%;
    border: 3px black solid;
    padding-top: 0px;
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    
}
        
.first{
    color: rgb(215, 87, 87);
}

.second{
    color: rgb(55, 153, 55);
    font-size: 30px;
}

.MIHEALTH{
    padding-left: 50px;
    font-size: 30px;
    font-style: italic;
}

.BE{
    font-size: 40px;
    padding-left: 100px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.text {
    font-size: 23px;
    font-style: oblique;
    flex-direction: column;
    text-align: left;
    margin-top: 50px;
    padding-left: 30px;
    display: flex;
}

figure {
    position: relative;
    display: flex;
    width: 65vw;              
    height: 60vh;             
    gap: 5px;            
    bottom:  30%;
    float: right;
    justify-content: center;
}
figcaption{
    flex-direction: column;
    position: absolute;
}

.shrimp1{
    position: absolute;
    bottom: 50px;
    left: 400px;
    font-style: italic;
    color: black;
    font-size: 20px;
    background-color: white;
    
}
.shrimp2{
    position: absolute;
    bottom: 20px;
    left: 400px;
    font-style: italic;
    color: black;
    font-size: 20px;
    background-color: white;
    
}
.pasta1{
    position: absolute;
    bottom: 50px;
    right: 400px;
    color: black;
    font-size: 20px;
    background-color: white;
    font-style: italic;
}
.pasta2{
    position: absolute;
    bottom: 20px;
    right: 400px;
    color: black;
    font-size: 20px;
    background-color: white;
    font-style: italic;
}
.beef1{
    position: absolute;
    bottom: 50px;
    right: 50px;
    color: black;
    font-size: 20px;
    background-color: white;
    font-style: italic;

}
.beef2{
    position: absolute;
    bottom: 20px;
    right: 50px;
    color: black;
    font-size: 20px;
    background-color: white;
    font-style: italic;

}

.Meals{
    font-size: 20px;
    margin-right: 150px;
    word-spacing: 50px;

}
.Menu{
    font-size: 20px;
    text-decoration: underline;
    padding-left: 30px;
}
.adjectives{
    position: relative;
    word-spacing: 500px;
}